[PhotoShovel]
LogDirectory = /home1/eben/tmp/photoshovel/logs
TraceLevelLogging = True
TempFileDirectory = /home1/eben/tmp/photoshovel/tmp
NumberOfDownloaders = 1
NumberOfUploaders = 1
; Optional parameter indicating which web browser command to run for setting 
; up OAuth permissions grants.  Lynx does not work at this time due to 
; Google's use of JavaScript on the OAuth2 grant permissions web page.
;WebBrowserCommand = /usr/bin/chromium-browser
; Optional parameter indicating what port to run OAuth2-related web server 
; on.  The webserver only runs bound to http://localhost:<port> when about to 
; receive the OAuth redirect after user authentication.  Only connections from 
; the localhost (or appearing to be) are accepted.
;WebServerPort = 2112

[AmazonCloudDrive]
; Optional parameter indicating what parent folder to upload albums to.
;     Ignored if AmazonCloudDrive is not target.
TargetFolder = PhotoShovel
; Optional parameter indicating what the Amazon Cloud Drive OAuth2 access 
; token is.  This can be used on hosts where interacting with a web browser 
; for OAuth2 web authorization would be problematic.
;OAuth2AccessToken = ABCD
; Optional parameter indicating what the Amazon Cloud Drive OAuth2 refresh  
; token is.  This can be used on hosts where interacting with a web browser 
; for OAuth2 web authorization would be problematic.
;OAuth2RefreshToken = 1234

[PicasaWeb]
; Optional parameter indicating what prefix to place on album names.
;     Ignored if PicasaWeb is not target.
TargetAlbumPrefix = PhotoShovel.
; Optional parameter indicating what the Google PicasaWeb OAuth2 access 
; token is.  This can be used on hosts where interacting with a web browser 
; for OAuth2 web authorization would be problematic.
;OAuth2AccessToken = ABCD
; Optional parameter indicating what the Google PicasaWeb OAuth2 refresh  
; token is.  This can be used on hosts where interacting with a web browser 
; for OAuth2 web authorization would be problematic.
;OAuth2RefreshToken = 1234
